body {
	background:#f7f7f7;
}
.select-work {
	width:100%;
	height:1.16rem;
	background:#fff;
	padding:0 0.52rem;
	position:relative;
}
.select-work h3 {
	width:3rem;
	line-height: 1.16rem;
	font-size:0.42666666rem;
	color:#262728;
	float:left;
}
.select-work select {
	float:left;
	font-size:0.37333333rem;
	color:#262728;
	line-height:1.16rem;
	width:calc(100% - 3rem);
	border:none;
	z-index: 10;
	background:url(../images/open-down.png) no-repeat right center;
	background-size:0.32rem;
}
.work-block {
	padding:0.13333333rem 0.4rem 0 0.4rem;
}
.work-block .work-item {
	display:block;
	overflow: hidden;
	padding:0.44rem;
	background:#fff;
	border-radius:0.13333333rem;
	margin-bottom:0.13333333rem;
}
.work-block .work-item .item-left {
	width:calc(100% - 3.6rem);
	height:2.52rem;
	float:left;

}
.work-block .work-item .item-left h3 {
	font-size:0.42666666rem;
	color:#262728;
}
.work-block .work-item .item-left p {
	font-size:0.37333333rem;
	color:#CCCFD2;
	margin-top:0.2rem;
	overflow: hidden;
}
.work-block .work-item .item-right {
	width:3.6rem;
	height:2.52rem;
	float:right;
}
.work-block .work-item .item-right .right-img {
	width:100%;
}

























