body {
	background:#f7f7f7;
}
.header {
	width:calc(100% - 0.8rem);
	margin:0 auto;
	margin-top:0.41333333rem;
	border-radius:0.13333333rem;
	position:relative;
	overflow:hidden;
}
.header img {
	width:100%;
}
.header .header-icon {
	display:flex;
	width:calc(100% - 1.33333333rem);

	position:absolute;
	top:0.53333333rem;
	left:0.66666666rem;
}
.header .header-icon i {
	display:inline-block;
	width:1.06666666rem;
	height:1.06666666rem;
	background:url(../images/bank-logo.png) no-repeat center center;
	background-size:1.06666666rem;
	
}
.header .header-icon h3 {
	max-width:calc(100% - 1.5rem);
	line-height:1.06666666rem;
	font-size:0.48rem;
	color:#FFFFFF;
	margin-left:0.4rem;
	
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient:vertical;
}
.header p {
	font-size:0.53333333rem;
	color:#FFFFFF;
	position:absolute;
	top:2.24rem;
	left:0.66666666rem;
}

/*重新绑定*/
.bank-add {
	display:block;
	width:100%;
	height:1.2rem;
	background:#fff;
	margin-top:0.4rem;
	text-align:center;
}
.bank-add p{
	display:inline-block;
	color:#1FC588;
	font-size:0.42666666rem;
	line-height:1.2rem;
	text-align:center;
}
.bank-add i {
	display:inline-block;
	width:0.44rem;
	height:1.2rem;
	background:url(../images/bank-rest.png) no-repeat center center;
	background-size:0.44rem;
	margin-right:0.28rem;
	float:left;
}

/*未绑定银行卡页面*/
.add{
	padding:0.68rem 0.4rem;
	background:#fff;
	margin-top:0.13333333rem;
}
.add .bank-add {
	margin-top:0;
	background:#18C187;
	border-radius:0.13333333rem;
}
.add .bank-add p{
	color:#fff;
	letter-spacing: 0.08rem;
}
.add .bank-add i {
	background:url(../images/bank-add.png) no-repeat center center;
	background-size:0.44rem;
}


/*绑定银行卡页面*/
#bank-card {
	background:#fff;
	padding:0 0.4rem;
}
.card-item{
	height:1.2rem;
	line-height:1.2rem;
	border-bottom: 1px solid #ECEFF3;
}
.card-title {
	margin-top:0.37333333rem;
}
.card-title p {
	color:#9B9C9E;
	font-size:0.37333333rem;
	display:inline-block;
	float:left;
}
.card-title span {
	color:#262728;
	margin:0 0.12rem;
}
.card-title i {
	display:inline-block;
	width:0.37333333rem;
	height:1.2rem;
	background:url(../images/info.png) no-repeat center center;
	background-size:0.37333333rem;
	float:left;
	margin-left:0.2rem;
}
.card-input {
	display:flex;
}
.card-input h3{
	color:#262728;
	font-size:0.42666666rem;
	width:1.4rem;

}
.card-input input {
	width:calc(100% - 2rem);
	float:left;
	line-height: 1.2rem;
	text-align:center;
	border:none;
}
.card-input i {
	display:inline-block;
	width:0.50666666rem;
	height:1.2rem;
	background:url(../images/camera.png) no-repeat center center;
	background-size:0.50666666rem;
	float:right;
}
.card-button {
	display:block;
	width:100%;
	line-height:1.2rem;
	text-align:center;
	color:#fff;
	font-size:0.42666666rem;
	background:#4ECFA0;
	border:none;
	border-radius:0.13333333rem;
	margin-top:1.33333333rem;
}

/*确认银行卡*/
.confirm-item {
	margin-top:0.4rem;
	background:#fff;
	padding:0 0.4rem;
	overflow: hidden;
}
.confirm-item h3,.confirm-item p {
	color:#262728;
	font-size:0.42666666rem;
	line-height: 1.2rem;
	float:left;
}
.confirm-item h3 {
	width:2.3rem;
}
.confirm-item p {
	/*margin-left:0.94666666rem;*/
	width:calc(100% - 2.4rem);
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient:vertical;
}
.confirm-agree {
	color:#262728;
	font-size:0.37333333rem;
	line-height:0.89333333rem;
	padding-left:0.4rem;
}
.confirm-agree a{
	color:#1FC588;
}
.confirm-button {
	padding:0 0.4rem;
	margin-top:0.4rem;
}
/*银行卡验证*/
.veri-item {
	background:#fff;
	padding:0.61333333rem 0;
}
.veri-item p{
	color:#A7A8AA;
	font-size:0.37333333rem;
	text-align:center;
	line-height:0.6rem;
}
.veri-item span{
	color:#262728;
	font-size:0.37333333rem;
}
.veri-code input{
	width:calc(100% - 4.8rem);
	line-height: 1.2rem;
	border:none;
	font-size:0.42666666rem;
	float:left;
}
.veri-code .veri-code{
	display:block;
	width:2.4rem;
	height: 0.6rem;
	line-height: 0.6rem;
	text-align:center;
	margin-top:0.3rem;
	color:#1FC588;
	font-size:0.37333333rem;
	background:#fff;
	border:none;
	border-left:1px solid #E4E7E9;
	float:right;
}
.veri-code .veri-active {
	color:#D7D9DB;
}