body {
	background:#f7f7f7;
}
.header {
	width:100%;
	height:4.69333333rem;
	background:url(../images/home-bg.png) no-repeat center center;
	background-size:100%;
	padding-top:1.45333333rem;
	position:relative;
}
.header .header-img {
	text-align:center;
	position:relative;
}
.header .header-img img{
	width:1.6rem;
	height:1.6rem;
	border-radius:50rem;
	border:0.06666666rem solid #ccc;
}
.header .header-img i{
	display:block;
	width:0.4rem;
	height:0.4rem;
	background:url(../images/v.png) no-repeat center center;
	background-size:0.4rem;
	position:absolute;
	top:1.32rem;
	left:52%;
}
.header .header-info {
	margin-top:0.33333333rem;
}
.header .header-info p{
	color:#fff;
	text-align:center;
}
.header .header-info p:first-child{
	font-size:0.42666666rem;
	letter-spacing:0.1rem;
	font-weight:800;
}
.header .header-info p:last-child {
	font-size:0.32rem;
	margin-top:0.17333333rem;
}

/*统计部门*/
.home-count {
	height:1.97333333rem;
	background:#fff;
}
.home-count div {
	width:50%;
	float:left;
	text-align:center;
	padding-top:0.50666666rem;
	
}
.home-count div h2 {
	font-size:0.37333333rem;
	color:#1FC588;
	font-weight:800;
}
.home-count div p {
	font-size:0.37333333rem;
	color:#262728;
	margin-top:0.24rem;
}

/*功能区*/
.home-func {
	background:#fff;
	margin-top:0.13333333rem;
}
.home-func .item-tr {
	overflow:hidden;
	border-bottom:1px solid #F4F6F8;
	padding:0 0.73333333rem;
}
.home-func .item-tr .item-td {
	width:calc(100% / 3);
	height:2.48rem;
	float:left;
	text-align:center;
	border-right:1px solid #F4F6F8;
	padding-top:0.55333333rem;
	position:relative;
}
.home-func .item-tr .item-td:last-child {
	border-right:none;
}
.home-func .item-tr .item-td p{
	font-size:0.37333333rem;
	color:#262728;
	margin-top:0.28rem;
}
.home-func .item-tr .item-td .item-icon{
	display:inline-block;
	width:0.72rem;
	height:0.72rem;	
}
.home-func .item-tr .item-td .warn-icon{
	display:inline-block;
	width:0.24rem;
	height:0.24rem;	
	border-radius:100rem;
	background:#DF1515;
	position:absolute;
	top:0.56rem;
	left:calc((100% / 2) + 0.18rem);
	
}
i.icon-1{
	background:url(../images/icon-1.png) no-repeat center center;
	background-size:0.72rem;
}
i.icon-2{
	background:url(../images/icon-2.png) no-repeat center center;
	background-size:0.72rem;
}
i.icon-3{
	background:url(../images/icon-3.png) no-repeat center center;
	background-size:0.72rem;
}
i.icon-4{
	background:url(../images/icon-4.png) no-repeat center center;
	background-size:0.72rem;
}
i.icon-5{
	background:url(../images/icon-5.png) no-repeat center center;
	background-size:0.72rem;
}
i.icon-6{
	background:url(../images/icon-6.png) no-repeat center center;
	background-size:0.72rem;
}