
.header {
	width:100%;
	height:4.66666666rem;
	background:url(../images/001.png) no-repeat center center;
	background-size:100%;
	position:relative;
}
.header p {
	font-size:0.61333333rem;
	font-weight:800;
	letter-spacing:0.1rem;
	color:#fff;
	text-align:center;
	padding-top:1.94666666rem;
}
.header .header-button {
	position:absolute;
	bottom:0;
	width:100%;
	
}
.header .header-button a {
	display:block;
	width:50%;
	height:1.33333333rem;
	line-height:1.33333333rem;
	text-align:center;
	color:#fff;
	font-size:0.41266666rem;
	float:left;
	letter-spacing:0.08rem;
	position: relative;
}
	
.header .header-button .header-active:after {
	position: absolute;
	display: inline-block;
	bottom: -0.11rem;
	left: calc((100% - 0.2rem)/2);
	width: 0;
	height: 0px;
	content: '';
	border-style: solid;
	border-width: 0.1rem;
	border-color: #fff #fff transparent transparent;
	transform: rotate(315deg);
	box-shadow: -2px 2px -2px #ccc;
}

/*表单模块*/
.login-table {
	margin-top:0.86666666rem;
	padding:0 0.4rem;
}
.login-table .login-item{
	margin-top:0.68rem;
	position:relative;
}

.login-table .login-item input{
	width:100%;
	height:1.13333333rem;
	color:#B6BBC0;
	font-size:0.37333333rem;
	border:none;
	border-bottom:1px solid #ECEFF3;
	
}
.login-table .login-item .code {
	width:calc(100% - 3rem)!important;
}
.login-table .login-item .getCode {
	width:2.666666rem;
	height:0.82666666rem;
	font-size:0.37333333rem;
	color:#1FC588;
	border:1px solid #1FC588;
	border-radius:0.13333333rem;
	background:#fff;
	float:right;
	margin-top:0.15333333rem;
}
.login-table .login-item .code-active {
	background:#1FC588;
	color:#fff;
}
.login-table .login-item a {
	display:block;
	font-size:0.37333333rem;
	color:#1FC588;
	height:1.13333333rem;
	line-height:1.13333333rem;
	position:absolute;
	top:0;
	right:0;
}
.login-table .login-button {
	display:block;
	margin-top:1.62666666rem;
		
}

/*微信登录*/
.weix {
	text-align:center;
	margin-top:3.4rem;
}
.weix img {
	width:1rem;
	height:1rem;
}
.weix p {
	color:#B6BBC0;
	font-size:0.37333333rem;
	margin-top:0.4rem;
}















