html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color:#0C0C0C;
}
body {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
p{
  font-size:0.32rem;
}
.public {
  width: 100%;
  height: 1.2rem;
  background: url("../image/hback.gif") repeat-y;
  background-size: 100%;
  display: flex !important;
  display: -webkit-flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4rem;
  position: relative;
}
.public img {
  width: 0.21333333rem;
}
.public h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.42666667rem;
  font-weight: 600;
  color: #ffffff;
}

/*底部导航公共样式*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.30666666rem;
  background: #ffffff;
  z-index: 200;
  overflow:hidden;
  border-top:1px solid #f7f7f7;

}
footer div {
  padding-top:0.16rem;
  float:left;
  height:100%;
}
.fen div {
	width:calc(100% / 3);
}
.gong div {
	width:calc(100% / 2);
}
footer div a {
  display:block;
  text-align: center;
  color: #BCC1C5;
  font-size: 0.32rem;
}
footer .footer-active a{
  color:#1FC588;
}
footer i {
  display: inline-block;
  width: 0.53333333rem;
  height: 0.53333333rem;
}
i.icon-a {
  background: url("../images/footer-wor.png") no-repeat center center;
  background-size: 0.53333333rem;
}
.footer-active i.icon-a {
  background: url("../images/footer-wor-act.png") no-repeat center center;
  background-size: 0.53333333rem;
}
i.icon-b {
  background: url("../images/footer-man.png") no-repeat center center;
  background-size: 0.53333333rem;
}
.footer-active i.icon-b {
  background: url("../images/footer-man-act.png") no-repeat center center;
  background-size: 0.53333333rem;
}
i.icon-c {
  background: url("../images/footer-per.png") no-repeat center center;
  background-size: 0.46666666rem;
}
.footer-active i.icon-c {
  background: url("../images/footer-per-act.png") no-repeat center center;
  background-size: 0.46666666rem;
}


/*swiper公共样式*/
.swiper-slide img {
  width:100%;
}


/*input 公共样式*/
input::-webkit-input-placeholder {
	/* placeholder颜色  */
	color: #B6BBC0;
	/* placeholder字体大小  */
	font-size: 0.37333333rem;
	/* 
	placeholder位置  
	text-align: right;
	*/
}


/*按钮公共样式*/
.button-type-big {
    display:block;
	width:100%;
	height:1.22666666rem;
	line-height:1.22666666rem;
	text-align:center;
	border:none;
	border-radius:0.13333333rem;
	background:#2ACC89;
	color:#fff;
    font-size:0.42666666rem;
	letter-spacing:0.08rem;
}
.button-font-size-one {
   font-size:0.48rem;
}
.button-margin-top{
  width:calc(100% - 0.8rem);
  margin:1.36rem auto 0 auto;
}

/*弹窗提示层*/
.tips-block{
  display:none;
}
.tips-alert {
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.3);
  display:flex;
  align-items:center;
  padding:0 1rem;
}
.tips-alert .alert-block {
  background:#fff;
  border-radius:0.13333333rem;
  margin:0 auto;
  padding:0.34666666rem 0.54666666rem;
}
.tips-alert .alert-block h3 {
  color:#262728;
  font-size:0.42666666rem;
  text-align:center;
  line-height:1rem;
  font-weight: 700;
}
.tips-alert .alert-block p {
  color:#262728;
  font-size:0.37333333rem;
  line-height:0.6rem;
  margin: 0.4rem 0;

}
.tips-alert .alert-block .alert-button{
  border-top:1px solid #ECEFF3;
  padding-top:0.34666666rem;
}
.tips-alert .alert-block .alert-button .button-single{
  display:block;
  width:100%;
  text-align:center;
  background:#fff;
  color:#1FC588;
  font-size:0.42666666rem;
  line-height:1rem;
  border:none;
}

/*列表式FORM表单*/
/*列表模块*/
.form-item {
  padding: 0 0.4rem;
}
.form-item .item-block {
  height:1.16rem;
  border-bottom: 1px solid #ECEFF3;
}
.form-item .item-block h3 {
  width:3rem;
  line-height: 1.16rem;
  font-size:0.37333333rem;
  color:#262728;
  float:left;
  letter-spacing: 0.08rem;

  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient:vertical;
}
.form-item .item-block input[type=text] {
  width:calc(100% - 3.1rem);
  line-height: 1.16rem;
  border:none;
  font-size:0.37333333rem;
  color:#8E8F90;
  text-align:right;
  float:right;
  background:none;
}
.form-item .hid-block {
  display:none;
}

