.trader-scan{
	background:rgba(0,0,0,0.6);
	padding:0.4rem;
}
.trader-scan .scan-info {
	display:block;
	width:100%;
	height:4.68rem;
	background:url(../images/trader-bg.png) no-repeat center center;
	background-size:100%;
	overflow: hidden;
	display:flex;
	align-items: center;

}
.trader-scan .scan-info .info-rec {
	width:100%;
	margin:0 auto;
}
.trader-scan p{
	color:#fff;
	font-size:0.37333333rem;
	margin-top:0.4rem;
	text-align:center;
}
/*trader列表*/
.item-type {
	height:2.32rem !important;
}
.item-type .block-h{
	width:100% !important;
}
.item-type .block-type {
	width:100%;
	height:1.16rem;
	overflow: hidden;
}
.item-type .block-type .type-radio {
	height:0.8rem;
	margin-right:0.2rem;
	float:right;
}
.item-type .block-type .type-radio p{
	display:inline-block;
	line-height: 0.8rem;
	background: #89aca3;
	border-radius:0.13333333rem;
	font-size:0.37333333rem;
	color:#fff;
	padding:0 0.2rem;
}
.item-type .block-type .type-radio .work-active {
	background:#14AC78;
}
.item-type .block-type .type-radio input[type=radio]{
	display:none
}










