.trader-scan{
	background:rgba(0,0,0,0.6);
	padding:0.4rem;
}
.trader-scan .scan-info {
	display:block;
	width:100%;
	height:4.68rem;
	background:url(../images/trader-bg.png) no-repeat center center;
	background-size:100%;
	overflow: hidden;
	display:flex;
	align-items: center;

}
.trader-scan .scan-info .info-rec {
	width:100%;
	margin:0 auto;
}
.trader-scan p{
	color:#fff;
	font-size:0.37333333rem;
	margin-top:0.4rem;
	text-align:center;
}
/*trader列表*/
.form-item .item-block .block-type {
	height:1.16rem;
	display:flex;
	align-items: center;
	float:left;
}
.form-item .item-block .block-type .type-radio {
	height:0.8rem;
}
.form-item .item-block .block-type .type-radio p{
	line-height: 0.8rem;
	background:#14AC78;
	border-radius:0.13333333rem;
	font-size:0.37333333rem;
	color:#fff;
	padding:0 0.2rem;
}
.form-item .item-block .block-type .type-radio input[type=radio]{
	display:none
}










